
<!DOCTYPE html>
<head>
	<title>@ViewBag.Title - Event Registration</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/modernizr")

	<link href='/Content/bootstrap-switch.css' rel='stylesheet' type='text/css'>
	<script src='/Scripts/bootstrap-switch.min.js' type='text/javascript'></script>
</head>
<body>
<div class='container'>
	@RenderBody()
</div>
</body>

